<div class="project-section" id="projects">
    <div class="prjectsTitleSection">
        <p class="textCenter Title1">Know My</p>
        <p class="textCenter Title2">Projects</p>
    </div>
    <div class="companyName">AGILYSYS (APR' 2021 - TILL NOW)</div>
    <div class="projectListContainer">
        <div class="projectItem">
            <p class="projectTitle">RGuest Service</p>
            <p class="projectDesc">
                A Hotel management service, handles the hotel staff collaboration by assign and managing tasks for
                engineering, housekeeping, facilities with real time alerts through mobile.
            </p>
            <ul class="projectStack">
                <li>Angular</li>
                <li>Ionic</li>
            </ul>
        </div>
        <div class="projectItem">
            <p class="projectTitle">Quick Pay Authorize</p>
            <p class="projectDesc">
                A contactless payment system to accept and track cashless transactions whenever and wherever guests are. Supports
                Direct payments and Schedule payments
            </p>
            <ul class="projectStack">
                <li>Angular</li>
                <li>.Net Core with EF</li>
                <li>SQL</li>
            </ul>
        </div>
        <div class="projectItem">
            <p class="projectTitle">Engage</p>
            <p class="projectDesc">
                A Guest loyalty and promotions management system to efficiently manage critical guest interactions while providing simple guest self-service access to Hotel Loyalty system.
            </p>
            <ul class="projectStack">
                <li>React JS</li>
            </ul>
        </div>
    </div>
    <!-- old company -->
    <div class="companyName">Object Frontier Software (JUL' 2018 - APR' 2021)</div>
    <div class="projectListContainer">
        <div class="projectItem">
            <p class="projectTitle">Unified Project Performance Report</p>
            <p class="projectDesc">
                A complete performance monitor system with role based logins, report generation and
                progress indicator to to monitor all activities happened in construction site
                of all level of employees.
            </p>
            <ul class="projectStack">
                <li>Angular</li>
                <li>SQL</li>
            </ul>
        </div>
        <div class="projectItem">
            <p class="projectTitle">Afnic Insurance Provider</p>
            <p class="projectDesc">
                
                A guest insurance booking system with all kind of business lines in insurance sector like vehicle, home, 
                medical and personal etc. And guest can manage their all insurances in single place 
                with this application through the customer360 module.
            
            </p>
            <ul class="projectStack">
                <li>Angular</li>
                <li>JAVA</li>
                <li>SQL</li>
            </ul>
        </div>
    </div>
</div>