<div class="skillset-section" id="experience">
    <div class="skillSetTitleSection">
        <p class="textCenter skillTitle1">Explore My</p>
        <p class="textCenter skillTitle2">Experience</p>
    </div>
    <div class="skillContainer">
        <div class="skillsetList">
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">HTML</p>
                    <p class="skillNameExpLevel">Experienced</p>
                </div>
            </div>
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">CSS</p>
                    <p class="skillNameExpLevel">Experienced</p>
                </div>
            </div>
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">Javascript</p>
                    <p class="skillNameExpLevel">Experienced</p>
                </div>
            </div>
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">Angular</p>
                    <p class="skillNameExpLevel">Experienced</p>
                </div>
            </div>
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">Ionic</p>
                    <p class="skillNameExpLevel">Experienced</p>
                </div>
            </div>
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">React</p>
                    <p class="skillNameExpLevel">Intermediate</p>
                </div>
            </div>
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">Node JS</p>
                    <p class="skillNameExpLevel">Basic</p>
                </div>
            </div>
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">Dot Net(Web API)</p>
                    <p class="skillNameExpLevel">Intermediate</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="toolsListContainer">
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">Azure</p>
                    <p class="skillNameExpLevel">MS Cloud Services</p>
                </div>
            </div>
            <div class="skillItem">
                <div>
                    <img class="skillIcon" src="../../assets/images/checkmark.png" />
                </div>
                <div class="skillItemLabelBox">
                    <p class="skillNameLabel">SonarQube</p>
                    <p class="skillNameExpLevel">Code Analysis</p>
                </div>
            </div>
        </div>
    </div>
</div>