<div class="contact-section" id="contact">
    <div class="contactSectionTitle">
        <p class="textCenter contactTitle1">Get in Touch</p>
        <p class="textCenter contactTitle2">Contact Me</p>
    </div>
    <div class="contactSectionBody">
        <div class="contactLabelContainer">
            <div><img class="icon" src="../../assets/images/email.png"/></div>
            <a class="linkText" href="mailto:gowtham4950@gmail.com">gowtham4950@gmail.com</a>
        </div>

        <div class="contactLabelContainer">
            <div><img class="icon" src="../../assets/images/linkedin.png"/></div>
            <a class="linkText" href="linkedin.com">LinkedIn</a>
        </div>
    </div>
    <div class="contactLabelContainer">
        <p class="secondaryColor">Copyright © 2023 Gowtham Devaraj. All Rights Reserved.</p>
    </div>
</div>