<div class="contact-section" id="contact">
    <div class="contactSectionTitle">
        <p class="textCenter contactTitle1">Get in Touch</p>
        <p class="textCenter contactTitle2">Contact Me</p>
    </div>
    <div class="contactSectionBody">
            <a class="linkText contactLabelContainer" href="mailto:gowtham4950@gmail.com"><div><img class="icon" src="../../assets/images/email.png"/></div>
            <div>gowtham4950@gmail.com</div></a>
        

            <a class="linkText contactLabelContainer" href="https://www.linkedin.com/in/gowtham-devaraj-4207141b9/" target="_blank"><div><img class="icon" src="../../assets/images/linkedin.png"/></div>
            <div>LinkedIn</div></a>
      
            <a class="linkText contactLabelContainer" href="tel:+916380378242"> <div><img class="icon" src="../../assets/images/phone.jpg"/></div>
            <div>+91 6380378242</div></a>
    </div>
    <div class="contactSectionTitle marginGap">
        <p class="textCenter contactTitle1">Based in</p>
        <p class="textCenter basedInLocationLabel">Coimbatore, Tamil Nadu.</p>
    </div>
    <div class="contactLabelContainer">
        <p class="secondaryColor">Copyright © 2024 Gowtham Devaraj. All Rights Reserved.</p>
        <p class="secondaryColor">Last update: <label class="lastUpdateDateLabel">January 8, 2024</label></p>
    </div>
</div>