<div class="contact-section" id="contact">
    <div class="contactSectionTitle">
        <p class="textCenter contactTitle1">Get in Touch</p>
        <p class="textCenter contactTitle2">Contact Me</p>
    </div>
    <div class="contactSectionBody">
        <div class="contactLabelContainer">
            <div><img class="icon" src="../../assets/images/email.png"/></div>
            <a class="linkText" href="mailto:gowtham4950@gmail.com">gowtham4950@gmail.com</a>
        </div>

        <div class="contactLabelContainer">
            <div><img class="icon" src="../../assets/images/linkedin.png"/></div>
            <a class="linkText" href="https://www.linkedin.com/in/gowtham-devaraj-4207141b9/" target="_blank">LinkedIn</a>
        </div>

        <div class="contactLabelContainer">
            <div><img class="icon" src="../../assets/images/phone.jpg"/></div>
            <a class="linkText" href="tel:+916380378242">+91 6380378242</a>
        </div>
    </div>
    <div class="contactSectionTitle marginGap">
        <p class="textCenter contactTitle1">Based in</p>
        <p class="textCenter basedInLocationLabel">Coimbatore, Tamil Nadu.</p>
    </div>
    <div class="contactLabelContainer">
        <p class="secondaryColor">Copyright © 2024 Gowtham Devaraj. All Rights Reserved.</p>
    </div>
</div>