<div class="intro-section" id="about">
    <div class="aboutPicture">
        <img src="assets/profile_icon.png" class="profile-picture" />
    </div>
    <div class="aboutInfo">
        <p class="aboutLine1">Hello I'm</p>
        <p class="aboutLine2">Gowtham Devaraj</p>
        <p class="aboutLine3">Passinate Software Developer with 5 years of experience in building User
            Interfaces with cutting-edge frameworks like Angular, ReactJS
            with good knowledge on UX designing, JAVA and NodeJS.</p>
        <div class="aboutActionContainer">
            <div class="aboutBtnContainer">
                <button class="btn btn1">Download CV</button>
                <a href="#contact"><button class="btn btn2">Contact Info</button></a>
            </div>
            <div class="socialConnectIconContainer">
                <a href="https://github.com/gowthamde" target="_blank"><img class="socialIcon" src="../../assets/images/github.png" /></a>
                <a href="https://www.linkedin.com/in/gowtham-devaraj-4207141b9/" target="_blank"><img class="socialIcon" src="../../assets/images/linkedin.png" /></a>
            </div>
        </div>
    </div>
</div>