* {
    font-family: 'Source Sans Pro', Poppins, sans-serif !important;
}

body {
    margin: 0px;
    scroll-behavior: smooth;
}

p {
    margin: 0px;
}

.textCenter {
    text-align: center;
}

.secondaryColor {
    color: #555;
}