* {
    font-family: 'Source Sans Pro', Poppins, sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    scroll-behavior: smooth;
}

p {
    margin: 0px;
}

.textCenter {
    text-align: center;
}

.secondaryColor {
    color: #555;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) {
    .container {
        margin: 0rem 1rem !important;
    }
    .menu {
        display: none !important;
    }
    .intro-section {
        flex-direction: column !important;
    }
    .companyName {
        text-align: center !important;
    }
    .projectListContainer {
        justify-content: center !important;
    }
    .projectItem {
        flex-basis: 95% !important;
    }
    .contactSectionBody {
        margin: 2rem 2rem !important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
    .container {
        margin: 0rem 1rem !important;
    }
    .menu {
        display: none !important;
    }
    .intro-section {
        flex-direction: column !important;
    }
    .companyName {
        text-align: center !important;
    }
    .projectListContainer {
        justify-content: center !important;
    }
    .projectItem {
        flex-basis: 95% !important;
    }
    .contactSectionBody {
        margin: 2rem 2rem !important;
    }
}

@media only screen and (min-width: 450px) {
    .container {
        margin: 0rem 1.5rem !important;
    }
    .menu {
        display: none !important;
    }
    .intro-section {
        flex-direction: column !important;
    }
    .companyName {
        text-align: center !important;
    }
    .projectListContainer {
        justify-content: center !important;
    }
    .projectItem {
        flex-basis: 85% !important;
    }
    .contactSectionBody {
        margin: 2rem 3rem !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        margin: 0rem 1.5rem !important;
    }
    .menu {
        display: none !important;
    }
    .intro-section {
        flex-direction: row !important;
    }
    .companyName {
        text-align: center !important;
    }
    .projectListContainer {
        justify-content: center !important;
    }
    .projectItem {
        flex-basis: 55% !important;
    }
    .contactSectionBody {
        margin: 2rem 4rem !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu {
        display: none !important;
    }
    .container {
        margin: 0rem 1.5rem !important;
    }
    .intro-section {
        flex-direction: row !important;
    }
    .companyName {
        text-align: center !important;
    }
    .projectListContainer {
        justify-content: center !important;
    }
    .projectItem {
        flex-basis: 35% !important;
    }
    .contactSectionBody {
        margin: 2rem 6rem !important;
    }
}

@media only screen and (min-width: 860px) {
    .container {
        margin: 0rem 2.5rem !important;
    }
    .menu {
        display: flex !important;
    }
    .intro-section {
        flex-direction: row !important;
    }
    .companyName {
        text-align: start !important;
    }
    .projectListContainer {
        justify-content: start !important;
    }
    .projectItem {
        flex-basis: 30% !important;
    }
    .contactSectionBody {
        margin: 2rem 12rem !important;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        margin: 0rem 4rem !important;
    }
    .menu {
        display: flex !important;
    }
    .intro-section {
        flex-direction: row !important;
    }
    .companyName {
        text-align: start !important;
    }
    .projectListContainer {
        justify-content: start !important;
    }
    .projectItem {
        flex-basis: 30% !important;
    }
    .contactSectionBody {
        margin: 2rem 12rem !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        margin: 0rem 10rem !important;
    }
    .menu {
        display: flex !important;
    }
    .companyName {
        text-align: start !important;
    }
    .projectListContainer {
        justify-content: start !important;
    }
    .contactSectionBody {
        margin: 2rem 12rem !important;
    }
}